<fls: Iniziativa Incontro IdIncontro="{{id_inc}}" IdIniziativa="{{id_iniz}}" MandatoGdz="{{mand_ug}}" DataIncontro="{{data_inc}}">
		<fls:Trasmissione Tipo="{{tipo}}"/>
		<fls:Erogazione>
			<fls:CodRegioneErg>{{reg_erog}}</fls:CodRegioneErg>
			<fls:CodASLErg>{{asl_erog}}</fls:CodASLErg>
			<fls:CodConsultorio>{{cc_erog}}</fls:CodConsultorio>
		</fls:Erogazione>
